* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #ff4c4c;
    font-family: "Snacker Comic W01 Black", sans-serif;
    color: #ffce20;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: 70px solid #fe6f6f;
}

main h1 {
    font-size: 6rem;
    line-height: 4rem;
    letter-spacing: 1rem;
    text-shadow: 4px 4px 5px black;
    cursor: alias;
}

#laputa-robot {
    position: absolute;
    top: 0;
    left: 0;
    width: 32vw;
}

#flower-skate {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 100px;
    width: 25vw;
}

#player-buttons {
    position: relative;
    font-size: 5.1rem;
    font-weight: 900;
    color: white;
    padding: 20px 30px 30px;
    display: flex;
    gap: 150px;
}

.hidden-content {
    display: none;
}

.hidden-content input{
    background-color: #ff4c4c;
    color: #ffce20;
    text-shadow: 4px 4px 5px black;
    width: 10ch;
    outline: none;
}

.hidden-content input::placeholder {
    color: #ffce20;
}

#hidden-input2 {
    text-align: right; /* Preserve the absolute positioning of the hidden div */
}

#player1,
#player2 {
    cursor: pointer;
}

#player1:hover + .hidden-content,
#player2:hover + .hidden-content {
    display: block;
    font-size: 40px;
    position: absolute;
    bottom: 0;
}

#player1:hover + .hidden-content {
    left: 0;
}

#player2:hover + .hidden-content {
    right: 0;
}


#start-game-btn {
    margin-top: 15px;
    font-size: 3rem;
    padding: 10px 20px;
    border-radius: 20px;
    border: 6px dotted #ffce20;
    background-color: #ff4c4c;
    color: white;
    transition: transform 0.3s ease;
}

#start-game-btn:hover {
    transform: scale(1.2);
    background-color: #fe6f6f;
    cursor: pointer;
}


/* Animations for start game button */
#laputa-robot,
#flower-skate,
main h1,
main > div,
main button {
    transition: transform 2s ease-in-out;
}

.disable-hover {
   pointer-events: none;  /* Apply to start button to start animation same time as other elements */
}

.move-left {
    transform: translateX(-100%);
}
.move-right {
    transform: translateX(100%);
}
.move-down {
    transform: translateY(1000%);
}
.move-bottom {
    bottom: 0 !important;
}
.move-top {
    top: 0 !important;
}
.opacity-visible {
    opacity: 1 !important;
    pointer-events: auto !important;
}



/* Gameplay content becomes visible after animation */
#hidden-play-area {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    opacity: 0;
    transition: opacity 2s ease-in;
    /* Ensures the start screen hover and click are not blocked */
    pointer-events: none; 
} 

#player-area-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-info {
    display: flex;
    gap: 180px;
    margin-bottom: 20px;
    justify-content: center;
}

.player-box {
    font-size: 0.4em;
    background-color: #ff4c4c;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px black;
}

#tic-tac-toe-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 390px;
}

.grid-item {
    background-color: #be2e2e;
    padding: 0.8rem 0.3rem;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px black;
}

.grid-item:hover {
    cursor: pointer;
    background-color: #fe6f6f;
}

#kid-space {
    position: absolute;
    bottom: -100%;
    left: 5px;
    width: 35vw;
    transition: bottom 2s ease-in-out;
}

#potato-astronaut {
    position: absolute;
    top: -100%;
    right: 0;
    width: 35vw;
    transition: top 2s ease-in-out;
}

/* Player info box style */
hr {
    margin: 10px 0;
    border: 2px solid white;
}

p {
    text-align: center;
    font-size: 2em;
}

